doctype html
html(lang='en')
    head
        title= title
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        meta(charset="UTF-8")
    body
        h1= message
        #icrate-wrapper-main
            form(
                action="/quotes"
                method="POST"
            )
                input(
                    type="text"
                    placeholder="name"
                    name="name"
                )
                input(
                    type="password"
                    placeholder="password"
                    name="password"
                )
                button(type="submit") Login
            #quotes-wrapper
                ul
                    each val in userlist
                        li!= 'User <span class="quote-name">' + val['name'] + '</span> has the password: <span class="quote-content">' + val['password'] + '</span>'