extends ../icrate.pug

block icrate-content
    div(id="icrate-wrapper-login")
        section(class="icrate-login-banner-dynamic")
            header(class="icrate-login-banner-text")
                .icrate-product-name iCrate
                .icrate-auth-status Login erforderlich!
                .icrate-auth-result Login fehlgeschlagen!
        form(
            action="/login"
            method="POST"
        )
            #input-mandatory-description-name Required!
            input(
                type="text"
                placeholder="Name"
                name="name"
                id="name"
                onmouseenter="setMouseEnterTransitionClass(this)"
                onmouseleave="processMouseLeaveTransitionClass(this)"
                onfocus="signalizeCorrectness(this)"
                onfocusout="revertCorrectness(this)"
                onchange="changedContent(this)"
                class="icrate-input-text icrate-input-mandatory"
                required
            )
            #input-mandatory-description-password Required!
            input(
                type="password"
                placeholder="Password"
                name="password"
                id="password"
                onmouseenter="setMouseEnterTransitionClass(this)"
                onmouseleave="processMouseLeaveTransitionClass(this)"
                onfocus="signalizeCorrectness(this)"
                onfocusout="revertCorrectness(this)"
                onchange="changedContent(this)"
                class="icrate-input-password icrate-input-mandatory"
                required
            )
            button(
                type="submit"
                class="icrate-button-submit"
            )
                .icrate-button-label Login

        //-#quotes-wrapper
            ul
                each val in userlist
                    li!= 'User <span class="quote-name">' + val['name'] + '</span> has the password: <span class="quote-content">' + val['password'] + '</span>'