extends ../icrate.pug

block icrate-content
    div(id="icrate-wrapper-login")
        section(class="icrate-login-banner-dynamic")
            header(class="icrate-login-banner-text")
                .icrate-product-name iCrate
                .icrate-auth-status Login erforderlich!
                .icrate-auth-result Login fehlgeschlagen!
        form(
            action="/login"
            method="POST"
        )
            input(
                type="text"
                placeholder="Name"
                name="name"
                class="icrate-input-text"
            )
            input(
                type="password"
                placeholder="Password"
                name="password"
                class="icrate-input-password"
            )
            button(
                type="submit"
            ) Login

        //-#quotes-wrapper
            ul
                each val in userlist
                    li!= 'User <span class="quote-name">' + val['name'] + '</span> has the password: <span class="quote-content">' + val['password'] + '</span>'