extends ../icrate.pug

block icrate-content
    div(id="icrate-wrapper-login")
        section(class="icrate-login-banner-dynamic")
            header(class="icrate-login-banner-text")
                .icrate-product-name(onclick="toggleDebugMode()") iCrate
                .icrate-auth-status <b>Login:</b> <p id="icrate-auth-input-reflection" class="require-input">Eingaben erforlerlich!</p>
                .icrate-auth-result Login fehlgeschlagen!
        form(
            action="/login"
            method="POST"
        )
            #input-mandatory-description-name Required!
            input(
                type="text"
                placeholder="Name"
                name="name"
                id="name"
                onmouseenter="setMouseEnterTransitionClass(this)"
                onmouseleave="processMouseLeaveTransitionClass(this)"
                onfocus="signalizeCorrectness(this)"
                onfocusout="revertCorrectness(this)"
                oninput="checkUserNameBlankness(this)"
                onchange="insertedUserName(this)"
                onkeydown="checkDeletionInProgress(this, event)"
                class="icrate-input-text icrate-input-mandatory"
                required
            )
            #input-mandatory-description-password Required!
            input(
                type="password"
                placeholder="Password"
                name="password"
                id="password"
                onmouseenter="setMouseEnterTransitionClass(this)"
                onmouseleave="processMouseLeaveTransitionClass(this)"
                onfocus="signalizeCorrectness(this)"
                onfocusout="revertCorrectness(this)"
                oninput="changedContent(this, false, false)"
                onchange="changedContent(this, true, false)"
                onkeydown="checkDeletionInProgress(this, event)"
                class="icrate-input-password icrate-input-mandatory"
                required
            )
            button(
                type="submit"
                class="icrate-button-submit"
            )
                .icrate-button-label Login

            #icrate-user-validation-list
                each val in userlist
                    .icrate-user-entry= val['name']